*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: --apple-system, sans-serif;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
}

:root{
    --bg-color:#080808;
    --second-bg-color:#131313;
    --text-color:#fff;
    --main-color:#FF2400;
    --second-main-color:#007BFF;
    --unread-link-color:#0000FF ;
    --point-wise-color: #00BFFF;
}

html{
    font-size: 65%;
}

body{
    background: var(--bg-color);
    color: var(--text-color);
}

.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 4rem 12% 4rem;
    background: rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(10px);
    display:flex;
    justify-content: space-between;
    align-items:center;
    z-index: 5;
}

.logo{
    font-size: 3rem;
    color: var(--text-color);
    font-weight: 800;
    cursor: pointer;
    transition: 0.3s ease;
}

.logo:hover{
    transform: scale(1.1);
}

.logo span{
    text-shadow: 0 0 24px var(--main-color);
}

.navbar a {
    font-size: 18px;
    color: var(--text-color);
    margin-left: 4rem;
    font-weight: 500;
    transition: 0.3s ease;
    border-bottom: 3px solid transparent;
}

.navbar a:hover,
.navbar a:active{
    color: var(--main-color);
    border-bottom: 3px solid var(--main-color);
}

.navbar1 {
    position: relative;
}

.navbar1 a {
    font-size: 20px;
    color: var(--text-color);
    margin-left: 2rem;
    font-weight: 500;
    transition: 0.3s ease;
    border-bottom: 1px solid transparent;
}

.navbar1 a:hover,
.navbar1 a:active{
    color: var(--main-color);
    border-bottom: 2px solid var(--main-color);
}

.dropdown-content {
    display: none;
    position: relative;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    border: 1px solid var(--main-color);
}

.dropdown-content a {
    color: var(--text-color);
    padding: 12px;
    text-decoration: none;
    display: block;
    font-size: 16px;
}

#menu-icon{
    font-size: 22px;
    color: var(--main-color);
    display: none;
}



/*Home Section Design*/


section{
    min-height: 100vh;
    padding: 10rem 12% 10rem;
}

.home{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15rem;
}

.home-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: left;
    margin-top: 3rem;
}

.typewriter {
    display: inline-block; 
    overflow: hidden;
    box-sizing: border-box;
    text-align: center; 
    margin: 0 auto; 
  }

span{
    color: var(--main-color);
}

.logo span{
    color: var(--main-color);
}

.home-content h3{
    margin-bottom: 3rem;
    margin-top: 1rem;
    font-size: 1.75rem;
    line-height: 1.5;
}

.home-content h1{
    font-size: 2.5rem;
    font-weight: 700;
    margin-top: 1.5rem;
    line-height: 1;
}

.home-img{
    border-radius: 50%;
}

.home-img img{
    position: relative;
    top: 3rem;
    width: 28vw;
    border-radius: 50%;
    box-shadow: 0 0 25px var(--main-color);
    cursor: pointer;
    transition: 0.3s ease-in-out;
}

.home-img img:hover{
    box-shadow: 0 0 25px var(--main-color),
                0 0 35px var(--main-color),
                0 0 55px var(--main-color);
}

.text-animation{
    font-size: 28px;
    font-weight: 600;
    min-width: 280px;
}

/*.text-animation span{
    position: relative;
}

.text-animation span::before{
    content: "Web Developer";
    color: var(--main-color);
    animation: words 20s infinite;
}

.text-animation span:after{
    content: '';
    background-color: var(--bg-color);
    position: absolute;
    width: calc(100% + 8px);
    height: 100%;
    border-left: 3px solid var(--bg-color);
    right: -8px;
    animation: cursor 0.6s infinite,typing 20s steps(200) infinite;
}

@keyframes cursor {
    to{
        border-left: 2px solid var(--main-color);
    }
}

@keyframes words {
    0%,
    100%{
        content: "an engineering undergraduate with a focus on web development, app creation, and embedded systems. Currently studying at the University of Jaffna, I have developed expertise across various technologies, including HTML, CSS, JavaScript, Python, Angular, and Arduino. This website offers a glimpse into my work, skills, and the experiences that drive my passion for innovation. For any professional inquiries or potential collaborations, please feel free to get in touch. Together, we can explore new possibilities and drive technological advancement.";
    }
}/*


/*Education Section Design*/


.heading{
    font-size: 3.5rem;
    text-align: center;
    margin: 5rem 0;
}

.education{
    padding: 100px 15px;
    background: var(--second-bg-color);
}

.education h2{
    margin-bottom: 5rem;
}

.timeline-date h4{
    font-size: 1.9rem;
    font-weight: 800;
    line-height: 1;
    padding-bottom: 1.2rem;
}

.timeline-content h5{
    font-size: 1.6rem;
}

.timeline-items{
    max-width: 1200px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    position: relative;
}

.timeline-items::before{
    content: '';
    position: absolute;
    width: 5px;
    height: 100%;
    background-color: var(--main-color);
    left: calc(50% - 1px);
}

.timeline-item{
    margin-bottom: 40px;
    width: 100%;
    position: relative;
}

.timeline-item:last-child{
    margin-bottom: 0;
}

.timeline-item:nth-child(odd){
    padding-right: calc(50% + 30px);
    text-align: right;
}

.timeline-item:nth-child(even){
    padding-left: calc(50% + 30px);
}

.timeline-dot{
    height: 21px;
    width: 21px;
    background-color: var(--main-color);
    box-shadow: 0 0 25px var(--main-color),
                0 0 25px var(--main-color);
    position: absolute;
    left: calc(50% - 8.9px);
    border-radius: 50%;
    top: 10px;
}

.timeline-date{
    font-size: 1.9rem;
    font-weight: 800;
    color: #fff;
    margin: 6px 0 15px;
}

.timeline-content{
    background-color: var(--bg-color);
    border: 3px solid var(--main-color);
    padding: 30px 50px;
    border-radius: 4rem;
    box-shadow: 0 0 10px var(--main-color);
    cursor: pointer;
    transition: 0.3s ease-in-out;
    align-items: center;
}

.timeline-content:hover{
    transform: scale(1.05);
    box-shadow: 0 0 25px var(--main-color);
}

.timeline-content h3{
    font-size: 1.75rem;
    color: #fff;
    margin: 0 0 10px;
    font-weight: 500;
}

.timeline-content p{
    color: #fff;
    font-size: 16px;
    font-weight: 300;
    line-height: 22px;
}

.timeline-map{
    overflow: hidden;
    padding-bottom: 56.25%;
    position: relative;
    height: 0;
}

.timeline-map iframe{
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    position: absolute;
    border: 0;
}



/*Skills Section Design*/


.skills-info h4{
    font-size: 1.8rem;
    font-weight: 800;
    line-height: 1;
    padding-bottom: 1.2rem;
    text-align: center;
    color: var(--point-wise-color);
}

.skills-info p{
    font-size: 16px;
    font-weight: 600;
    min-height: 100px;
    line-height: 1.5;
    margin: auto;
    text-align: center;
}



/*Projects Section Design*/


.projects{
    background: var(--second-bg-color);
    color: #fff;
}

.projects h2{
    margin-bottom: 5rem;
    color: #fff;
}

.projects-container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    align-items: center;
    gap: 2.5rem;
}

.projects-box{
    background-color: var(--main-color);
    height: 425px;
    border-radius: 3rem;
    border: 5px solid transparent;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}

.projects-box:hover{
    background: #fff;
    color: #131313;
    border: 5px solid var(--main-color);
    transform: scale(1.03);
}

.projects-box .projects-info{
    display: flex;
    flex-direction: column;
    text-align: left;
    min-height: 200px;
    justify-content: left;
    padding: 5rem 5rem;
}

.projects-info h4{
    font-size: 1.8rem;
    font-weight: 800;
    line-height: 1;
    padding-bottom: 1.2rem;
}

.projects-info p{
    font-size: 16px;
    font-weight: 600;
    min-height: 100px;
    line-height: 1.7;
    margin: auto;
}

span2{
    color: var(--unread-link-color);
    font-size: 16px;
}

a:hover span2 {
    color:var(--main-color); 
}



/*Contact Section Design*/


.contact{
    background-color: var(--bg-color);
}

.contact-container{
    padding-left: 150px;
    padding-right: 150px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.contact-box{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: var(--second-bg-color);
    height: 250px;
    border-radius: 3rem;
    border: 5px solid transparent;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}

.contact-info{
    display: flex;
    flex-direction: column; 
    align-items:start;
}

.contact-box:hover{
    border: 1px solid var(--main-color);
    transform: scale(1.02);
}

.contact h2{
    margin-bottom: 3rem;
    color: #fff;
}

.contact-box a{
    text-decoration: none; 
    color: inherit;
}

i {
   font-size: 28px; 
    margin-right: 15px; 
    color: var(--text-color); 
}

span1{
    color: var(--second-main-color);
    font-size: 15px;
}

.contact-box h5{
    font-size: 18px;
}

a:hover .fa-linkedin, a:hover span1.linkedin {
    color:var(--main-color); 
}

a:hover .fa-envelope, a:hover span1.email {
    color:var(--main-color); 
}



/*Footer Section Design*/


.footer{
    position: relative;
    bottom: 0;
    width: 100%;
    padding: 40px 0;
    background-color: var(--second-bg-color);
}

.footer .social{
    text-align: center;
    padding-bottom: 25px;
    color: var(--main-color);
}

.footer .copyright{
    margin-top: 20px;
    text-align: center;
    font-size: 14px;
    color: #fff;
}



/*Scrollbar Design*/


::-webkit-scrollbar{
    width: 15px;
}

::-webkit-scrollbar-thumb{
    background-color: var(--main-color);
    width: 50px;
}



/*Responsive Design*/


@media (max-width:1284px){
    html{
        font-size: 55%;
    }

    .skills-container{
        padding-bottom: 7rem;
        grid-template-columns: repeat(2,1fr);
        margin: 0.5rem;
    }
}

@media (max-width:1070px){
    .projects-box{
        height: 480px;
    }
}


@media (max-width:991px){
    .header{
        padding: 2rem 3%;
    }

    .section{
        padding: 10rem 3% 2rem;
    }

    .timeline-item::before{
        left: 7px;
    }
    
    .timeline-item:nth-child(odd){
        padding-right: 0;
        text-align: left;
    }

    .timeline-item:nth-child(odd),
    .timeline-item:nth-child(even){
        padding-left: 37px;
    }

    .timeline-dot{
        left: 0;
        height: 15px;
        width: 15px;
    }

    .projects{
        padding-bottom: 7rem;
    }

    .projects-box{
        height: 520px;
    }

    .contact form{
        flex-direction: column;
    }

    .footer{
        padding: 2rem 3%;
    }
}

@media (max-width:920px){
    #menu-icon{
        display: block;
    }
    .navbar{
        display: none;
    }

    .home{
        flex-direction: column-reverse;
        margin: 5rem 4rem;
    }

    .home-content h3{
        font-size: 2rem;
    }

    .home-content h1{
        font-size: 4rem;
        margin-top: 1rem;
    }

    .home-content p{
        max-width: 600px;
        margin: 0 auto;
    }

    /*.home-img*//*.logo1{
        width: 100%;
        max-width: 500px;
        height: auto;*/
        /*width: 60vw;*/
        /*justify-content:end;
        text-align: center;
    }*/

    .timeline-dot{
        height: 15px;
        width: 15px;
    }

    .projects h2{
        margin-bottom: 3rem;
    }
    .projects-box{
        height: 350px;
    }

    .projects-container{
        grid-template-columns: repeat(1,1fr);
    }

    .contact-container{
        padding-left: 100px;
        padding-right: 100px;
        padding-top: 20px;
        padding-bottom: 20px;
    }

}

@media (max-width:750px){
    .timeline-dot{
        height: 15px;
        width: 15px;
    }


    .projects-box{
        height: 400px;
    }

    .contact-container{
        padding-left: 70px;
        padding-right: 70px;
        padding-top: 20px;
        padding-bottom: 20px;
    }

}


@media (max-width:650px){
    .timeline-dot{
        height: 12px;
        width: 12px;
    }


    .projects-box{
        height: 450px;
    }

    .contact-container{
        padding-left: 40px;
        padding-right: 40px;
        padding-top: 20px;
        padding-bottom: 20px;
    }

}


@media (max-width:525px){
    .projects-box{
        height: 480px;
    }

    .contact{
        margin: 0rem 0rem;
        padding: 0rem;
        min-height: 80vh;
        padding: 10rem 12% 10rem;
    }

    .contact-container{
        padding-left: 30px;
        padding-right: 30px;
        padding-top: 10px;
        padding-bottom: 10px;
    }

}


@media (max-width:475px){
    .timeline-dot{
        height: 12px;
        width: 12px;
    }


    .projects-box{
        height: 495px;
    }

    .contact-container{
        padding-left: 20px;
        padding-right: 20px;
        padding-top: 20px;
        padding-bottom: 20px;
    }

}


@media (max-width:450px){
    .projects-box{
        height: 520px;
    }

    .contact-container{
        padding-left: 15px;
        padding-right: 15px;
        padding-top: 20px;
        padding-bottom: 20px;
    }

}


@media (max-width:425px){
    html{
        font-size: 50%;
    }

    .navbar a {
        font-size: 15px;
    }

    .navbar1 a {
        font-size: 15px;
    }

    .dropdown-content a {
        font-size: 13px;
    }

    .home-content h3{
        font-size: 2rem;
    }

    .home-content h1{
        font-size: 4rem;
        margin-top: 1rem;
    }

    .heading{
        font-size: 3.8rem;
        text-align: center;
        margin: 2rem 0;
    }

    .timeline-dot{
        height: 10px;
        width: 10px;
    }

    .timeline-content{
        padding: 25px 25px;
    }

    .skills-info h4{
        font-size: 15px;
    }
    
    .skills-info p{
        font-size: 13px;
    }
    
    .projects-info h4{
        font-size: 15px;
        font-weight: 800;
        line-height: 1;
        padding-bottom: 1.2rem;
    }
    
    .projects-info p{
        font-size: 13px;
        font-weight: 600;
        min-height: 100px;
        line-height: 1.7;
        margin: auto;
    }

    span2{
        font-size: 13px;
    }

    .projects-box{
        height: 435px;
    }

    .contact-container{
        padding-left: 5px;
        padding-right: 5px;
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .contact-box h5{
        font-size: 11px;
    }

    span1{
        font-size: 11px;
    }

    .footer .copyright{
        font-size: 13px;
    }
}


@media (max-width:375px){
    html{
        font-size: 45%;
    }

    .navbar a {
        font-size: 14px;
    }

    .navbar1 a {
        font-size: 14px;
    }

    .dropdown-content a {
        font-size: 12px;
    }

    .home-content h3{
        font-size: 1.8rem;
    }

    .home-content h1{
        font-size: 3.8rem;
        margin-top: 1rem;
    }

    .heading{
        font-size: 3.5rem;
        text-align: center;
        margin: 2rem 0;
    }

    .timeline-dot{
        height: 10px;
        width: 10px;
    }

    .timeline-content{
        padding: 20px 20px;
    }

    .skills-info h4{
        font-size: 14px;
    }
    
    .skills-info p{
        font-size: 12px;
    }
    
    .projects-info h4{
        font-size: 14px;
        font-weight: 800;
        line-height: 1;
        padding-bottom: 1.2rem;
    }
    
    .projects-info p{
        font-size: 12px;
        font-weight: 600;
        min-height: 100px;
        line-height: 1.7;
        margin: auto;
    }

    span2{
        font-size: 12px;
    }

    .projects-box{
        height: 445px;
    }

    .projects-container{
        padding: 0px;
    }

    .contact{
        margin: 0rem 0rem;
        padding: 0rem;
        min-height: 70vh;
        padding: 10rem 12% 10rem;
    }

    .contact-container{
        padding-left: 0px;
        padding-right: 0px;
        padding-top: 10px;
        padding-bottom: 10px;
    }
    
    .contact-box h5{
        font-size: 10px;
    }

    span1{
        font-size: 10px;
    }


    .footer .copyright{
        font-size: 12px;
    }
}





